body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
}
header{
    background-color: #a9aaab;
    padding: 1rem;
    text-align: left;
    grid-column: 1 / 4;
    height: 4rem;
}
nav{
    background-color: #000;
    padding: 1rem;
    grid-column: 1 / 4;
    height: 3rem;
;
}
ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style-type: none;
    padding: 0.5rem 0;
    color: #fff;
}
main{
    background-color: #e3e3e3;
    padding: 1rem;
    grid-column: 1 / 3;
    height: 19rem;
}
aside{
    background-color: #d3d3d3;
    padding: 1rem;
    grid-column: 3 / 4;
    height: 19rem;
}
aside h2, main h2{
    margin-top: 0;
    font-size: medium;
}
footer{
    background-color: #a9aaab;
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
    height: 4rem;
}
footer h2{
    margin: 0;
    font-size: large;
}